.header {
  background: $dark-blue;
}

.header__title {
  //избавляюсь от стилей ссылки
  color: white;
  text-decoration: none;
  h1 {
    margin: 0
  }
}

//flex-box для хэдера
.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}