.list-header {
  background: $off-white;
  border: 1px darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  padding: $s-size;
  text-decoration: none;
  //при смене бэкграунда будет анимация перехода
  transition: background .3s ease;
  //& внуипм блока стилей - ссылка а этот же стиль, т.е. эквивалент .list-item:hover
  //:hover - стили для состояния hover
  &:hover {
    background: $off-white;
  }

  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
//для Expenses not found
.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;

  &:hover {
    background: none;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
  }
}

.list-item__body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint){
    margin-bottom: $l-size;
  }
}